.IonCard{
  min-height: 240px;
  animation: buzzAnimation 3s linear infinite;
}

.overlayStyle {
  min-height: 240px;
  background-color: rgba(0, 0, 0, 0.5);
}

.ionCardContent{
  position: fixed;
  bottom: 1px;
}


@keyframes buzzAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}